body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  
}
/* ככה כל השורות יהיו לבנות */
.table tbody tr {
  background-color: white; /* רקע לבן */
}

/* ברגע שמעבירים עכבר, הרקע יהפוך לאפור */
.table tbody tr:hover {
  background-color: #f8f9fa; /* אפור בהיר */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
